.toolbar{
	background: #fff;
	border-bottom: 1px solid #D6D6D6;
	box-shadow: 0 0 5px rgba(51, 51, 51, 0.34);
}

.toolbar__folder-pane{
	padding-left: 1rem;
	display: block;
	margin-top: 16px;
}

.toolbar__follder-button{
	font-size: 19px;
	cursor: pointer;
	&:hover{
		text-decoration: underline;
	}
	&--disabled{
		color: #999;
		pointer-events: none
	}
}

.toolbar__search-pane{
	display: inline-block;
	height: 3rem;
	margin: 0.4em 1em 0 0;
	padding: 0 0.5em;
	background: white;
	input:focus{ // trick against materialize
		border-bottom: none !important;
		box-shadow: none !important;
	}
}
